*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exp
*.ilk
*.lib
*.pdb
*~
*.old
*.qlf
*.out
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.class
*.bbl
*.blg
TAGS
config.h
config.log
config.status
build
INDEX.pl
packages/Makefile
.pkg-config
Makefile
include
lib
bin
linux
man/MANUAL.pdf
man/dvi2tty
man/txt.sty
man/txt/dvi2tty/dvi2tty
packages/chr/Makefile
packages/chr/chr_translate.pl
packages/chr/chr_translate_bootstrap1.pl
packages/chr/chr_translate_bootstrap2.pl
packages/chr/guard_entailment.pl
packages/clib/Makefile
packages/clib/maildrop/rfc2045/Makefile
packages/clib/maildrop/rfc2045/rfc2045charset.h
packages/clib/maildrop/rfc2045/stamp-h1
packages/clib/maildrop/rfc822/Makefile
packages/clib/maildrop/rfc822/stamp-h1
packages/clpqr/Makefile
packages/configure
packages/cpp/Makefile
packages/http/Makefile
packages/jpl/Makefile
packages/jpl/docs/java_api/javadoc
packages/jpl/jpl.jar
packages/jpl/jpltest.jar
packages/jpl/src/java/Makefile
packages/ltx2htm/Makefile
packages/ltx2htm/latex2html
packages/nlp/Makefile
packages/odbc/Makefile
packages/pl.sh
packages/pldoc/Makefile
packages/plld.sh
packages/plunit/Makefile
packages/semweb/Makefile
packages/semweb/semweb.tex
packages/sgml/.coflags
packages/sgml/Makefile
packages/sgml/RDF/Makefile
packages/sgml/dtd2pl
packages/sgml/sgml
packages/ssl/Makefile
packages/table/Makefile
packages/xpce/CXX/demo/Makefile
packages/xpce/Makefile
packages/xpce/lib/x86_64-linux
packages/xpce/linux
packages/xpce/man/reference/index.obj
packages/xpce/pl/src/Makefile.bin
packages/xpce/prolog/lib/.pwd
packages/xpce/prolog/lib/Makefile
packages/xpce/prolog/pwboot/Makefile
packages/xpce/sicstus/src/Makefile
packages/xpce/src/names
packages/xpce/src/xpce-stub.exe
packages/xpce/src/xpce-stub.res
packages/xpce/xpce.spec
packages/xpce/src/xpce-install.exe
packages/zlib/Makefile
autom4te.cache
src/pl.sh
src/pl.res
src/swipl
boot32.prc
boot64.prc
