[submodule "packages/chr"]
	path = packages/chr
	url = ../packages/chr.git
[submodule "packages/jpl"]
	path = packages/jpl
	url = ../packages/jpl.git
[submodule "packages/clpqr"]
	path = packages/clpqr
	url = ../packages/clpqr.git
[submodule "packages/inclpr"]
	path = packages/inclpr
	url = ../packages/inclpr.git
[submodule "packages/space"]
	path = packages/space
	url = ../space.git
[submodule "bench"]
	path = bench
	url = ../bench.git
[submodule "packages/utf8proc"]
	path = packages/utf8proc
	url = ../utf8proc.git
[submodule "packages/protobufs"]
	path = packages/protobufs
	url = ../contrib/protobufs.git
