[submodule "packages/chr"]
	path = packages/chr
	url = ../packages-chr.git
[submodule "packages/jpl"]
	path = packages/jpl
	url = ../packages-jpl.git
[submodule "packages/clpqr"]
	path = packages/clpqr
	url = ../packages-clpqr.git
[submodule "packages/inclpr"]
	path = packages/inclpr
	url = ../packages-inclpr.git
[submodule "packages/space"]
	path = packages/space
	url = ../contrib-space.git
[submodule "bench"]
	path = bench
	url = ../bench.git
[submodule "packages/utf8proc"]
	path = packages/utf8proc
	url = ../packages-utf8proc.git
[submodule "packages/protobufs"]
	path = packages/protobufs
	url = ../contrib-protobufs.git
[submodule "packages/xpce"]
	path = packages/xpce
	url = ../packages-xpce.git
[submodule "packages/odbc"]
	path = packages/odbc
	url = ../packages-odbc.git
[submodule "packages/sgml"]
	path = packages/sgml
	url = ../packages-sgml.git
[submodule "packages/clib"]
	path = packages/clib
	url = ../packages-clib.git
[submodule "packages/http"]
	path = packages/http
	url = ../packages-http.git
[submodule "packages/plunit"]
	path = packages/plunit
	url = ../packages-plunit.git
[submodule "packages/pldoc"]
	path = packages/pldoc
	url = ../packages-pldoc.git
[submodule "packages/RDF"]
	path = packages/RDF
	url = ../packages-RDF.git
[submodule "packages/semweb"]
	path = packages/semweb
	url = ../packages-semweb.git
[submodule "packages/ssl"]
	path = packages/ssl
	url = ../packages-ssl.git
[submodule "packages/zlib"]
	path = packages/zlib
	url = ../packages-zlib.git
[submodule "packages/tipc"]
	path = packages/tipc
	url = ../contrib-tipc.git
[submodule "packages/table"]
	path = packages/table
	url = ../packages-table.git
[submodule "packages/nlp"]
	path = packages/nlp
	url = ../packages-nlp.git
[submodule "packages/bdb"]
	path = packages/bdb
	url = ../packages-bdb.git
[submodule "packages/jasmine"]
	path = packages/jasmine
	url = ../packages-jasmine.git
[submodule "packages/cpp"]
	path = packages/cpp
	url = ../packages-cpp.git
[submodule "packages/cppproxy"]
	path = packages/cppproxy
	url = ../packages-cppproxy.git
[submodule "packages/ltx2htm"]
	path = packages/ltx2htm
	url = ../packages-ltx2htm.git
[submodule "packages/windows"]
	path = packages/windows
	url = ../packages-windows.git
[submodule "packages/PDT"]
	path = packages/PDT
	url = ../packages-PDT.git
[submodule "packages/archive"]
	path = packages/archive
	url = ../packages-archive.git
[submodule "debian"]
	path = debian
	url = ../distro-debian.git
[submodule "packages/swipl-win"]
	path = packages/swipl-win
	url = ../packages-swipl-win.git
[submodule "packages/pengines"]
	path = packages/pengines
	url = ../packages-pengines.git
[submodule "packages/cql"]
	path = packages/cql
	url = ../packages-cql.git
[submodule "packages/readline"]
	path = packages/readline
	url = ../packages-readline.git
[submodule "packages/libedit"]
	path = packages/libedit
	url = ../packages-libedit.git
[submodule "packages/pcre"]
	path = packages/pcre
	url = ../packages-pcre.git
