[submodule "packages/chr"]
	path = packages/chr
	url = ../chr.git
[submodule "packages/jpl"]
	path = packages/jpl
	url = ../jpl.git
[submodule "packages/clpqr"]
	path = packages/clpqr
	url = ../clpqr.git
[submodule "packages/inclpr"]
	path = packages/inclpr
	url = ../inclpr.git
[submodule "library/common"]
	path = library/common
	url = ../lib.git
