*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.cab
*~
*.old
*.qlf
*.out
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.class
*.bbl
*.blg
TAGS
config.h
config.log
config.status
build
INDEX.pl
packages/Makefile
.pkg-config
Makefile
include
lib
bin
linux
win32
win64
mingw
man/MANUAL.pdf
man/dvi2tty
man/txt.sty
man/txt/dvi2tty/dvi2tty
packages/chr/Makefile
packages/chr/chr_translate.pl
packages/chr/chr_translate_bootstrap1.pl
packages/chr/chr_translate_bootstrap2.pl
packages/chr/guard_entailment.pl
packages/clib/Makefile
packages/clib/maildrop/rfc2045/Makefile
packages/clib/maildrop/rfc2045/rfc2045charset.h
packages/clib/maildrop/rfc2045/stamp-h1
packages/clib/maildrop/rfc822/Makefile
packages/clib/maildrop/rfc822/stamp-h1
packages/clpqr/Makefile
packages/configure
packages/cpp/Makefile
packages/http/Makefile
packages/jpl/Makefile
packages/jpl/docs/java_api/javadoc
packages/jpl/jpl.jar
packages/jpl/jpltest.jar
packages/jpl/src/java/Makefile
packages/ltx2htm/Makefile
packages/ltx2htm/latex2html
packages/nlp/Makefile
packages/odbc/Makefile
packages/pl.sh
packages/pldoc/Makefile
packages/plld.sh
packages/plunit/Makefile
packages/semweb/Makefile
packages/semweb/semweb.tex
packages/sgml/.coflags
packages/sgml/Makefile
packages/sgml/RDF/Makefile
packages/sgml/dtd2pl
packages/sgml/sgml
packages/ssl/Makefile
packages/table/Makefile
packages/zlib/Makefile
packages/C-sicstus/config.h.in
packages/C-sicstus/configure
packages/R/configure
packages/chr/config.h.in
packages/chr/configure
packages/clib/config.h.in
packages/clib/configure
packages/clib/maildrop/rfc2045/config.h.in
packages/clib/maildrop/rfc2045/configure
packages/clib/maildrop/rfc822/config.h.in
packages/clib/maildrop/rfc822/configure
packages/clpqr/configure
packages/cpp/configure
packages/cppproxy/config.h.in
packages/cppproxy/configure
packages/db/config.h.in
packages/db/configure
packages/http/config.h.in
packages/http/configure
packages/inclpr/config.h.in
packages/inclpr/configure
packages/jasmine/config.h.in
packages/jasmine/configure
packages/jpl/config.h.in
packages/jpl/configure
packages/ltx2htm/config.h.in
packages/ltx2htm/configure
packages/mp/config.h.in
packages/mp/configure
packages/nlp/config.h.in
packages/nlp/configure
packages/odbc/config.h.in
packages/odbc/configure
packages/pldoc/configure
packages/plunit/configure
packages/semweb/config.h.in
packages/semweb/configure
packages/sgml/RDF/config.h.in
packages/sgml/RDF/configure
packages/sgml/config.h.in
packages/sgml/configure
packages/ssl/config.h.in
packages/ssl/configure
packages/table/config.h.in
packages/table/configure
packages/uri/config.h.in
packages/uri/configure
packages/zlib/config.h.in
packages/zlib/configure
src/config.h.in
src/configure
autom4te.cache
src/pl.sh
src/pl.res
src/swipl
src/version.h
boot32.prc
boot64.prc
doc-version
.doc-action
pl-doc-*.tar.gz
*.manifest
config.dat
call_vcvars.cmd
src/reqs64.cab
src/reqs32.cab
.pl-history
ReleaseNotes
build-ppa-tmp
scripts/upload
