/* $Id$

   CSS for PlDoc, the SWI-Prolog source documentation system
   Author: Jan Wielemaker
   Copying: Public domain

   For a tutorial on CSS, see
   <http://www.htmldog.com/guides/cssbeginner/selectors/>
*/

h1.file, h1.module, h1.dir
{ background-color: #b9daff
}

.undef
{ color: red;
}

a.builtin
{ color: navy;
}

.defbody
{ margin-bottom: 1em;
}

.arglist
{ font-style: italic;
}

.pred, .det, .functor
{ font-weight: bold;
}

dt.tag
{ font-weight: bold;
}

dt.error, dt.warn
{ font-weight: bold;
  color: red;
}

dt.pubdef
{ background-color: #c5e1ff;
}

dt.privdef
{ background-color: #fbffa6;
}

dt.undoc, h2.undoc
{ background-color: #ffbc87;
}

dl.tags
{ font-size: 80%;
  margin-top: 0.5em;
}

dl.termlist
{ margin-top: 0.7em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

dl.undoc
{ margin-top: 0.7em;
}

ul, ol
{ margin-top: 0.7em;
}

.argdescr
{ padding-left: 1em;
}

table.wiki
{ margin-top: 0.7em;
  margin-left: 1.5em;
  border: 1px outset blue;
  border-spacing: 0;
}

table.wiki td
{ border: 1px inset gray;
  padding: 3px;
  vertical-align: top;
}

img.icon
{ border: 0;
  height: 32;
  float: right;
  padding-top: 4px;
}

pre.code
{ margin-left: 1.5em;
  margin-right: 1.5em;
  border: 1px dotted;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: #f8f8f8;
}

/* Navigation bar */

div.navhdr
{ border: 1px dotted;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 3px;
  background-color: #f0f0f0;
}

/* Summary index */

table.summary
{ width: 100%;
  margin-left: 0;
  margin-right: 0;
}

table.summary th.category
{ text-align: center;
  font-size: 150%;
  font-weight: bold;
  border: 1px dotted;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
  background-color:  #f0f0f0;
}

table.summary th.section
{ text-align: left;
  background-color: #bbffba;
}

table.summary th
{ text-align: left;
  background-color: #b9daff;
}

table.summary td
{ /*overflow:hidden; white-space:nowrap; text-overflow:ellipsis;*/
  vertical-align: top;
}

tr.private
{ color: #707070;
  background-color: #fbffa6;
}

/* Search */

span.for
{ font-style: italic;
}

div.search-results
{ font-size: larger;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

div.search-counts
{ font-style: italic;
  font-size: smaller;
  margin-bottom: 1em;
}

div.search-options
{ font-size: smaller;
}

/* Footnotes from latex2html */
sup.fn { color: blue; text-decoration: underline; }
span.fn-text: { display: none; }
sup.fn span {display: none;}
sup:hover span 
{ display: block !important;
  position: absolute; top: auto; left: auto; width: 250px;
  color: #000; background: white;
  border: 2px solid;
  padding: 5px; margin: 10px; z-index: 100;
  font-size: smaller;
}
