/* $Id$

   CSS for PlDoc, the SWI-Prolog source documentation system
   Author: Jan Wielemaker
   Copying: Public domain

   For a tutorial on CSS, see
   <http://www.htmldog.com/guides/cssbeginner/selectors/>
*/

h1.file, h1.module
{ background-color: #b9daff
}

.undef
{ color: red;
}

a.builtin
{ color: navy;
}

.defbody
{ margin-bottom: 1em;
}

.arglist
{ font-style: italic;
}

.pred, .det, .functor
{ font-weight: bold;
}

dt.tag
{ font-weight: bold;
}

dt.error, dt.warn
{ font-weight: bold;
  color: red;
}

dt.pubdef
{ background-color: #c5e1ff;
}

dt.privdef
{ background-color: #fbffa6;
}

dt.undoc, h2.undoc
{ background-color: #ffbc87;
}

dl.tags
{ font-size: 80%;
  margin-top: 0.5em;
}

dl.termlist
{ margin-top: 0.7em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

dl.undoc
{ margin-top: 0.7em;
}

ul, ol
{ margin-top: 0.7em;
}

.argdescr
{ padding-left: 1em;
}

table.wiki
{ margin-top: 0.7em;
  margin-left: 1.5em;
  border: 1px outset blue;
  border-spacing: 0;
}

table.wiki td
{ border: 1px inset gray;
  padding: 3px;
}

img.icon
{ border: 0;
  heigth: 32;
  float: right;
  padding-top:4px;
}

pre.code
{ margin-left: 1.5em;
  margin-right: 1.5em;
  border: 1px dotted;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: #f8f8f8;
}
