/* $Id$

   CSS for PlDoc, the SWI-Prolog source documentation system
   Author: Jan Wielemaker
   Copying: Public domain

   For a tutorial on CSS, see
   <http://www.htmldog.com/guides/cssbeginner/selectors/>
*/

h1.file, h1.module, h1.dir
{ background-color: #b9daff
}

.undef
{ color: red;
}

a.builtin
{ color: navy;
}

.defbody
{ margin-bottom: 1em;
}

.arglist
{ font-style: italic;
}

table.paramlist td
{ vertical-align: top;
}

.pred, .det, .functor
{ font-weight: bold;
}

span.pred-tag
{ float: right;
  font-size: 80%;
  font-style: italic;
  color: #202020;
}

dl.tags dt
{ font-weight: bold;
}

dt.keyword-bug, dt.keyword-deprecated, dt.keyword-tbd
{ font-weight: bold;
  color: red;
}

dt.pubdef
{ background-color: #c5e1ff;
}

dt.multidef
{ background-color: #c8ffc7;
}

dt.privdef
{ background-color: #fbffa6;
}

dt.undoc, h2.undoc
{ background-color: #ffbc87;
}

img.action
{ border: 0;
  padding-top: 0.2em;
  height: 1em;
}

dl.tags
{ font-size: 80%;
  margin-top: 0.5em;
}

dl.latex, ul.latex, ol.latex
{ margin-top: 0.7em;
  margin-bottom: 1em;
}

dl.termlist
{ margin-top: 0.7em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

dl.undoc
{ margin-top: 0.7em;
}

dl.wiki
{ margin-top: 0.7em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

dl.wiki dt
{ font-weight: bold;
  font-size: 90%;
}

.argdescr
{ padding-left: 1em;
}

table.wiki
{ margin-top: 0.7em;
  margin-left: 1.5em;
  border: 1px outset blue;
  border-spacing: 0;
}

table.wiki td
{ border: 1px inset gray;
  padding: 3px;
  vertical-align: top;
}

img.icon
{ border: 0;
  height: 32px;
  float: right;
  padding-top: 4px;
}

pre.code
{ margin-left: 1.5em;
  margin-right: 1.5em;
  border: 1px dotted;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: #f8f8f8;
}

/* Navigation bar */

div.navhdr
{ border: 1px dotted;
  padding: 5px 5px 3px 5px;		/* top,right,bottom,left */
  background-color: #f0f0f0;
}

div.navhdr div.jump
{ float: left;
}

div.navhdr div.search
{ float: right;
}

/* Summary index */

table.summary
{ width: 100%;
  margin-left: 0;
  margin-right: 0;
}

table.summary th.category
{ text-align: center;
  font-size: 150%;
  font-weight: bold;
  border: 1px dotted;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
  background-color:  #f0f0f0;
}

table.summary th.section
{ text-align: left;
  background-color: #bbffba;
}

table.summary th
{ text-align: left;
  background-color: #b9daff;
}

table.summary td
{ /*overflow:hidden; white-space:nowrap; text-overflow:ellipsis;*/
  vertical-align: top;
}

tr.private
{ color: #707070;
  background-color: #fbffa6;
}

/* Search */

span.for
{ font-style: italic;
}

div.search-results
{ font-size: larger;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

div.search-counts
{ font-style: italic;
  font-size: smaller;
  margin-bottom: 1em;
}

div.search-options
{ font-size: 70%;
}

span.search-in, span.search-match
{ border: 1px inset;
  padding: 3px 5px 1px 1px;
}

span.search-help
{ padding-left: 1em;
}

div.synopsis
{ text-align: right;
  margin-top: 15pt;
  margin-bottom: 5pt;
}

span.synopsis-hdr
{ font-weight: bold;
  padding-right: 1ex;
}

div.synopsis code
{ background-color: #e0e0e0;
}

span.autoload, span.builtin, span.cfunc
{ margin-left: 5pt;
  font-style: italic;
}

span.anot
{ float: right;
  margin-right: 5pt;
  font-style: italic;
  font-size: smaller;
  padding-top: 0.2em;
  color: #444;
}

/* Footnotes from latex2html */
sup.fn { color: blue; text-decoration: underline; }
span.fn-text { display: none; }
sup.fn span {display: none;}
sup:hover span
{ display: block !important;
  position: absolute; top: auto; left: auto; width: 80%;
  color: #000; background: white;
  border: 2px solid;
  padding: 5px; margin: 10px; z-index: 100;
  font-size: 80%;
}

span.sec-nr
{
}

span.sec-title
{ margin-left: 0.5em;
}

/* Listing support */

dl.comment, div.comment
{ color: #006400;
  border: 2px inset;
  padding: 5px 5px 0px 5px;

  background-color: #e5e5e5;
  margin-top: 2em;
  margin-bottom: 1em;
}

pre.listing
{ margin-top: 0;
  margin-bottom: 0;
}

span.line-no
{ font-weight: normal;
  font-size: 0.8em;
  color: #505050;
  background-color: white;
  border: 1px inset;
  margin-right: 1em;
}

div.comment h1.module
{ margin-top: 0;
}

a.prolog_version
{ font-style: italic;
  font-size: 70%;
}


code.nofile				# non-existing file-link
{ color: red;
}
