span.goal-built_in
{ color: blue;
}

span.goal-imported
{ color: blue;
}

span.goal-autoload
{ color: #000080;
}

span.goal-global
{ color: #000080;
}

span.goal-undefined
{ color: red;
}

span.goal-thread_local
{ color: #ff00ff;
  text-decoration: underline;
}

span.goal-dynamic
{ color: #ff00ff;
}

span.goal-multifile
{ color: #000080;
}

span.goal-expanded
{ color: blue;
  text-decoration: underline;
}

span.goal-extern
{ color: blue;
  text-decoration: underline;
}

span.goal-recursion
{ text-decoration: underline;
}

span.goal-meta
{ color: #8b0000;
}

span.goal-foreign
{ color: #00ced1;
}

span.goal-constraint
{ color: #008b8b;
}

span.head-exported
{ font-weight: bold;
  color: blue;
}

span.head-extern
{ font-weight: bold;
  color: blue;
}

span.head-dynamic
{ font-weight: bold;
  color: #ff00ff;
}

span.head-multifile
{ font-weight: bold;
  color: #000080;
}

span.head-unreferenced
{ font-weight: bold;
  color: red;
}

span.head-hook
{ text-decoration: underline;
  color: blue;
}

span.head-constraint
{ font-weight: bold;
  color: #008b8b;
}

span.head
{ font-weight: bold;
}

span.comment
{ color: #006400;
}

span.structured_comment
{ color: #006400;
}

span.directive
{ background-color: #e5e5e5;
}

span.method
{ font-weight: bold;
}

span.var
{ color: #8b0000;
  font-style: italic;
}

span.unbound
{ font-weight: bold;
  color: red;
}

span.quoted_atom
{ color: #000080;
}

span.string
{ color: #000080;
}

span.nofile
{ color: red;
}

span.file
{ color: blue;
  text-decoration: underline;
}

span.class-built_in
{ color: blue;
  text-decoration: underline;
}

span.class-library
{ color: #000080;
  text-decoration: underline;
}

span.class-local
{ text-decoration: underline;
}

span.class-user
{ text-decoration: underline;
}

span.class-user
{ text-decoration: underline;
}

span.class-undefined
{ color: red;
  text-decoration: underline;
}

span.prolog_data
{ color: blue;
  text-decoration: underline;
}

span.identifier
{ font-weight: bold;
}

span.delimiter
{ font-weight: bold;
}

span.expanded
{ color: blue;
  text-decoration: underline;
}

span.hook
{ color: blue;
  text-decoration: underline;
}

span.error
{ background-color: #ffa500;
}

span.type_error
{ background-color: #ffa500;
}

span.syntax_error
{ background-color: red;
}

