parms.h
swipl
swipl.1
swipl.prc
swipl.pc
swipl.home
swipl-ld
swipl-ld-build
swipl.sh
rc/swipl-rc
pl-atom.ic
pl-atom.ih
pl-funct.ic
pl-funct.ih
pl-codetable.c
pl-jumptable.ic
pl-vmi.h
defatom
mkvmi
vmi
*.exe
.defatom-sentinel
.vmi-sentinel
*.dSYM
