#include "windows.h"

SWI_Icon  ICON swipl.ico

// RT_MANIFEST to prevent Windows Vista and up from asking to execute (UAC).
// Only include the manifest when building under MinGW, since MSVC generates its
// own manifest. Including a manifest here leads to a duplicate resource error.
#ifdef __MINGW32__
1 RT_MANIFEST "swipl.manifest"
#endif  // __MINGW32__
